Test change of client random data in second ClientHello after Hello Retry Request. 

# New test script idea
Test change of client random data in second ClientHello after Hello Retry Request. 

## What TLS message this idea relates to?
ClientHello after Hello Retry Request. 

Add names of messages, like "ClientHello" here.

ClientHello

## What TLS extension this idea relates to?

Add names of extensions, like `signature_algorithms` here.

## What is the behaviour the test script should test?
The re-sent ClientHello message after a Hello Retry Request must be
unchanged from the first execpt in ways specified in section 4.1.2 of RFC 8446. 

Currently the shuffled extension test tests this. (thanks!) however in impplementing
server side validation for this in LibreSSL I have noticed that tlsfuzzer is changing
the provided random value in the second clienthello.  So in some sense this is
both a bug report and a feature request :) 

Effectively the curent behavior of ClientHelloGenerator which changes the random
value on the second ClientHello should be incorporated as a test -> this should
be invalid behavior, and the existing tests which test shuffled extensions should not
change the client random value in the shuffled extensions message. 

Describe what fields of the sent messages should be modified or set to special
values, what fields of received messages should be checked and compared to
what values.

Client Random in ClientHello should have the value changed on the second client
hello after the server sends Hello Retry Request. 

## Are there scripts that test related functionality?

test-tls13-shuffled-extensions.

## Additional information

Provide additional information about the script here.

Fundamentally I think ClientHelloGenerator and state need to perhaps learn about
and remember the provided random value from the first clienthello and not replace
them unconditionally.. 

(If you want this one of us could probably cook you a PR)


@bob-beck why did you close this issue?


On Mon, Jun 01, 2020 at 12:35:35PM +0000, Hubert Kario wrote:
> @bob-beck why did you close this issue?

Some of my inital assumptions were incorrect, on re-examining it the shuffled extensions test does
correctly use the same random value.. 

Testing an invalid change to client random on hrr would still be a valid test however.


> Testing an invalid change to client random on hrr would still be a valid test however.

You can send an arbitrary `client_random` by providing a 32 byte long `bytearray` as the `random` parameter to `ClientHelloGenerator`
something like
```
ClientHelloGenerator(..., random=bytearray([0]*31 + [1]))
```
should be enough to trigger the checks for comparing ClientHello messages