TLS 1.3 post handshake authentication interaction with KeyUpdate

# New test script idea

## What TLS message this idea relates to?

KeyUpdate, Certificate, CertificateVerify

## What TLS extension this idea relates to?

post_handshake_auth

## What is the behaviour the test script should test?

 - check if PHA can be delayed by client replying with KeyUpdate - server should not wait for Certificate but reply with KeyUpdate of its own (PHA is asynchronous)
 - verify that inserting KeyUpdate between Certificate and CertificateVerify, or CertificateVerify and Finished, or Certificate and Finished (in case of no certificate provided) causes `unexpected_message` alert 

## Are there scripts that test related functionality?

no

## Additional information

depends on post handshake authentication being implemented (#296)

> check if PHA can be delayed by client replying with KeyUpdate - server should not wait for Certificate but reply with KeyUpdate of its own (PHA is asynchronous)

I am sure that NSS does the opposite (it delays KeyUpdate reply while PHA is ongoing). What is the rationale behind the server should respond to KeyUpdate immediately?

@ueno from [RFC 8446 section 4.6.2](https://tools.ietf.org/html/rfc8446#section-4.6.2):
```
   Note: Because client authentication could involve prompting the user,
   servers MUST be prepared for some delay, including receiving an
   arbitrary number of other messages between sending the
   CertificateRequest and receiving a response.
```

with a big transfer in the background (with http/2), the key update may be necessary to prevent IV rollover (or going over the limit of data encrypted with single key)

I'm still not convinced. The excerpt only describes the receiving behavior, and the RFC actually says that a KeyUpdate reply should be sent before the next Application Data (not before an arbitrary message).

There *might* be an IV rollover between PHA messages, but it would be very unlikely; also note that PHA is being replaced with secondary-certs in HTTP/2.