test-tls13-large-number-of-extensions.py: assumes extension 22 is unassigned

# Bug Report
When `test-tls13-large-number-of-extensions.py` runs it assumes that extension 22 is unassigned however this is assigned by RFC7366 (EtM).

In fact this test seems to consider unassigned any non-TLS1.3 extension (e.g., 23 as well) which doesn't make much sense. Any implementation that validates its input should error on these extensions filled with random data.

> In fact this test seems to consider unassigned any non-TLS1.3 extension (e.g., 23 as well) which doesn't make much sense. 

while it doesn't make sense if you implement and enable both TLS 1.2 and TLS 1.3, for pure TLS 1.3 implementations those extensions should be completely ignored

if you have a hybrid implementation you can use `--exc` to disable testing of EtM and similar extensions

See section 9.3 of RFC 8446:
```
   -  A server receiving a ClientHello MUST correctly ignore all
      unrecognized cipher suites, extensions, and other parameters.
      Otherwise, it may fail to interoperate with newer clients.
```

But no other tests are TLS1.3-only. If the intention is to make TLS1.3-only (that would still be unfortunate as I do not think its worth a separate test environment), wouldn't it make sense to rename it as tls13-only and specify that in the description? The `--exc` is still not useful as it would create work for keeping up with the IANA lists inside the testsuite.

actually, there are only few tests with tls13 in name that are _not_ TLS1.3-only (don't require TLS 1.2 or earlier to be supported to pass)

> The --exc is not very useful as it would create work for keeping up with the IANA lists inside the testsuite.

no, the changes to that test execution will be necessary only when a new extension is added to an implementation; and you want to verify that stuff that shouldn't be implemented isn't and when it is implemented does work in all the scenarios.